:root{
    --clr-blue: hsl(223, 87%, 63%);
    --clr-blue-100: hsl(223, 100%, 88%);
    --clr-light-red: hsl(354, 100%, 66%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 59%);
    --clr-neutral-700: hsl(209, 33%, 12%);
}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
    font-size: 20px;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--clr-neutral-200);
}

img{
    max-width: 100%;
    display: block;
}

header{
    margin: 85px 0 50px;
}

main{
    padding: 0 2em;
}

.content{
    display: grid;
    gap: 40px;
}

h1{
  font-size: 1.5rem;  
  font-weight: inherit;
}

h1 span{
    font-weight: 700;
    color: var(--clr-neutral-700)
}

.content__text{
    font-size: 0.9rem;
    color: var(--clr-neutral-700);
}

form{
    display: grid;
    gap: 20px;
    align-items: start;
    font-size: 0.9rem;
}

form input{
    padding: 1em 1.25em;
    border-radius: 2em;
    font-size: inherit;
}

.email-field{
    display: grid;
}

form input[type="email"]{
    border: none;
    outline: 2px solid var(--clr-blue-100);
    color: var(--clr-neutral-700);
}

form input[type="email"]::placeholder{
    color: var(--clr-blue-100);
}

input[type="email"]:focus{
    outline: 2px solid var(--clr-blue);
    transition: outline linear 0.15s;
}

form input[type="email"].input-invalid{
    outline-color: var(--clr-light-red);
}

.error{
    padding: 0.5em 1.25em;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--clr-light-red);
}

form input[type="submit"]{
    font-weight: 600;
    border: none;
    background-color: var(--clr-blue);
    color: var(--clr-neutral-100);
    cursor: pointer;
}

form input[type="submit"]:hover, form input[type="submit"]:focus{
    opacity: 0.75;
    transition: opacity linear 0.15s;
}

main img{
    margin: 100px 0;
}

footer{
    display: grid;
    gap: 25px;
    padding-bottom: 100px;
    font-size: 0.8rem;
}

.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-link{
    display: grid;
    align-items: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--clr-blue-100);
    border-radius: 50%;
    text-decoration: none;
    color: var(--clr-blue);
}

.social-link:hover, .social-link:focus{
    color: var(--clr-neutral-100);
    background-color: var(--clr-blue);
    outline: none;
    transition-property: color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

@media screen and (min-width: 751px) {
    h1{
        font-size: 2.25rem;  
    }

    main{
        max-width: 725px;
    }

    .content__text{
        font-size: 1rem;
    }    

    form{
        grid-template-columns: 2fr 1fr;
    }

    .error{
        text-align: left;
    }
}
